---
layout: default
title: Hospedaje Casa Bonita | San Agustín Huila
h1: Hospedaje Casa Bonita. Tu hospedaje favorito de San Agustín Huila
description: San Agustín Huila es un paraíso de relajación y descanso. Casa bonita será el hospedaje con todo lo que siempre buscas en tus viajes. Conócenos
json: false
---
{% include header.html %}
<main class="tabs">
  {% include tabs.html %}
</main>
<section class="rooms">
  <h2>Los mejores cuartos para tu descanso en San Agustín Huila</h2>
  <div>
  <article>
    <img src="{{site.baseurl}}/img/cuarto1.webp" alt="">
    <h3>Cuarto 1</h3>
    <p>Con una pequeña descripción de una ventaja</p>
    <a href="">Quiero este cuarto</a>
  </article>
  <article>
    <img src="{{site.baseurl}}/img/cuarto1.webp" alt="">
    <h3>Cuarto 2</h3>
    <p>Con una pequeña descripción de una ventaja</p>
    <a href="">Quiero este cuarto</a>
  </article>
  <article>
    <img src="{{site.baseurl}}/img/cuarto1.webp" alt="">
    <h3>Cuarto 3</h3>
    <p>Con una pequeña descripción de una ventaja</p>
    <a href="">Quiero este cuarto</a>
  </article>
  <article>
    <img src="{{site.baseurl}}/img/cuarto1.webp" alt="">
    <h3>Cuarto 4</h3>
    <p>Con una pequeña descripción de una ventaja</p>
    <a href="">Quiero este cuarto</a>
  </article>
</div>
</section>

{% include footer.html %}