---
layout: default
title: Hospedaje Casa Bonita | San Agustín Huila
h1: Tu casa para tu próximo viaje a San Agustín Huila
description: San Agustín Huila es un paraíso de relajación y descanso. Casa bonita será el hospedaje con todo lo que siempre buscas en tus viajes. Conócenos
json: false
---
{% include header.html %}
<main class="servicios">
  <h2>En San Agustín Huila nuestro hospedaje es el hotel más familiar y acogedor</h2>
  <p></p>
  <div>
    <article class="beneficios">
      <video autoplay loop muted playsinline width="320" height="480">
        <source src="{{site.baseurl}}/img/hospedaje-casa-bonita-san-agustin.webm" type="video/webm">
        <source src="{{site.baseurl}}/img/hospedaje-casa-bonita-san-agustin.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="service-text">
        <h3>Comodidades</h3>
        <ul>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Atención familiar y personalizada.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Servicio de <strong>Internet WiFi GRATIS</strong> por fibra óptica.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon><strong>Parqueadero GRATIS</strong> con cámaras de seguridad.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon><strong>Baño privado</strong> con ducha de agua caliente.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Espacios sociales al interior y al aire libre.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Restaurantes y cafeterías muy cerca.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Zona urbana a 10 minutos a pie.
          </li>
        </ul>
      </div>
    </article>
    <article class="beneficios">
      <video autoplay loop muted playsinline width="320" height="480">
        <source src="{{site.baseurl}}/img/hotel-casa-bonita-san-agustin.webm" type="video/webm">
        <source src="{{site.baseurl}}/img/hotel-casa-bonita-san-agustin.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="service-text">
        <h3>Alimentación</h3>
        <ul>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Tu <strong>desayuno favorito está incluídos</strong>.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Puedes <strong>contratar los almuerzos y las cenas</strong>con nosotros.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Tienes a disposición una <strong>cocina pequeña en la zona social</strong>
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Tienes a tu disposición <strong>alianzas locales con descuentos o regalos</strong> . <a
              href="#alianzas">¡Conócelas!</a>
          </li>
        </ul>
      </div>
    </article>
    <article class="beneficios">
      <video autoplay loop muted playsinline width="320" height="480">
        <source src="{{site.baseurl}}/img/hotel-casa-bonita-san-agustin-huila.webm" type="video/webm">
        <source src="{{site.baseurl}}/img/hotel-casa-bonita-san-agustin-huila.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="service-text">
        <h3>Turismo</h3>
        <ul>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Puedes <strong>alquilar caballos</strong> para recorrer la localidad.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Solicita a los expertos en el <strong>recorrido del anillo turístico del Magdalena</strong>.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Podemos ofrecerte transporte privado desde la terminal aérea o terrestre de Pitalito.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Desde <strong>Casa Bonita</strong> tienes muy cerca lugares muy bonitos y de fácil acceso.
          </li>
        </ul>
      </div>
    </article>
    <article class="beneficios">
      <picture>
        <source type="image/webp" srcset="{{ site.baseurl }}/img/hospedaje-casa-bonita-san-agustin.webp">
        <img src="{{ site.baseurl }}/img/hospedaje-casa-bonita-san-agustin.png"
          alt="Habitación del hotel Casa Bonita de San Agustín" title="Cuarto en Casa Bonita" loading="lazy" width="320"
          height="480">
      </picture>
      <div class="service-text">
        <h3>Queremos ser tu hotel favorito en San Agustín Huila</h3>
        <p>Cuéntanos qué podemos hacer para que tu estancia sea la mejor. <strong>Te garantizamos que haremos lo necesario para ser tu hospedaje favorito en San Agustín Huila.</strong></p>
        <a href="{{site.whatsapp}}" class="botones" style="margin: 1rem auto;" title="WhatsApp del Hotel Casa Bonita">Solicita tu hospedaje</a>
      </div>
    </article>
  </div>
</main>
<section class="rooms">
  <h2>En San Agustín Huila se descansa muy rico</h2>
  <div>
    <article>
      <picture>
        <source type="image/webp" srcset="{{ site.baseurl }}/img/cuarto-1-hotel-casa-bonita-san-agustin.webp">
        <img src="{{ site.baseurl }}/img/cuarto-1-hotel-casa-bonita-san-agustin.png"
          alt="Habitación primera del hotel Casa Bonita de San Agustín" title="Cuarto VIP en Casa Bonita" loading="lazy"
          width="300" height="300">
      </picture>
      <h3>Cuarto VIP</h3>
      <p>Habitación de lujo con bañera</p>
      <a href="">Quiero este cuarto</a>
    </article>
    <article>
      <picture>
        <source type="image/webp" srcset="{{ site.baseurl }}/img/cuarto-2-hotel-casa-bonita-san-agustin.webp">
        <img src="{{ site.baseurl }}/img/cuarto-2-hotel-casa-bonita-san-agustin.png"
          alt="Habitación segunda del hotel Casa Bonita de San Agustín" title="Cuarto ejecutivo en Casa Bonita"
          loading="lazy" width="300" height="300">
      </picture>
      <h3>Ejecutivo</h3>
      <p>Habitación con baño privado</p>
      <a href="">Quiero este cuarto</a>
    </article>
    <article>
      <picture>
        <source type="image/webp" srcset="{{ site.baseurl }}/img/cuarto-3-hotel-casa-bonita-san-agustin.webp">
        <img src="{{ site.baseurl }}/img/cuarto-3-hotel-casa-bonita-san-agustin.png"
          alt="Habitación segunda del hotel Casa Bonita de San Agustín" title="Cuarto ejecutivo en Casa Bonita"
          loading="lazy" width="300" height="300">
      </picture>
      <h3>Cuarto familiar</h3>
      <p>Dos camas con baño privado</p>
      <a href="">Quiero este cuarto</a>
    </article>
  </div>
</section>

<section class="alianzas">
  <h2 id="alianzas">Casa Bonita San Agustín y sus aliados</h2>
  <p>¿Has ido a algún destino a solo ver televisión y dormir? Pues queremos que cuando nos visites tengas toda una
    experiencia relajante y agradable.</p>
  <p>Por esto, <strong>tenemos para ti alianzas con negocios de San Agustín</strong> que mejorarán tus experiencias y tu
    estadía con nosotros. Conoce algunas de ellas y los beneficios que tienen para ti.</p>
  <div>

  </div>
</section>

{% include footer.html %}