---
layout: default
title: Hospedaje Casa Bonita | San Agustín Huila
h1: Tu casa para tu próximo viaje a San Agustín Huila
description: San Agustín Huila es un paraíso de relajación y descanso. Casa bonita será el hospedaje con todo lo que siempre buscas en tus viajes. Conócenos
json: false
---
{% include header.html %}
<main class="servicios">
  <h2>En San Agustín Huila nuestro hospedaje es el hotel más familiar y acogedor</h2>
  <p></p>
  <div>
    <article class="beneficios">
      <video autoplay loop muted playsinline width="320" height="480">
        <source src="{{site.baseurl}}/img/hospedaje-casa-bonita-san-agustin.webm" type="video/webm">
        <source src="{{site.baseurl}}/img/hospedaje-casa-bonita-san-agustin.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="service-text">
        <h3>Comodidades</h3>
        <ul>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Atención familiar y personalizada.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Servicio de <strong>Internet WiFi GRATIS</strong> por fibra óptica.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon><strong>Parqueadero GRATIS</strong> con cámaras de seguridad.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon><strong>Baño privado</strong> con ducha de agua caliente.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Espacios sociales al interior y al aire libre.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Restaurantes y cafeterías muy cerca.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Zona urbana a 10 minutos a pie.
          </li>
        </ul>
      </div>
    </article>
    <article class="beneficios">
      <video autoplay loop muted playsinline width="320" height="480">
        <source src="{{site.baseurl}}/img/hotel-casa-bonita-san-agustin.webm" type="video/webm">
        <source src="{{site.baseurl}}/img/hotel-casa-bonita-san-agustin.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="service-text">
        <h3>Alimentación</h3>
        <ul>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Tu <strong>desayuno favorito está incluído</strong>.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Puedes <strong>contratar los almuerzos y las cenas</strong> con nosotros.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Tienes a disposición una <strong>cocina pequeña en la zona social</strong>
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Tienes a tu disposición <strong>alianzas locales con descuentos o regalos</strong> .
            <a href="#alianzas">¡Conócelas!</a>
          </li>
        </ul>
      </div>
    </article>
    <article class="beneficios">
      <video autoplay loop muted playsinline width="320" height="480">
        <source src="{{site.baseurl}}/img/hotel-casa-bonita-san-agustin-huila.webm" type="video/webm">
        <source src="{{site.baseurl}}/img/hotel-casa-bonita-san-agustin-huila.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="service-text">
        <h3>Turismo</h3>
        <ul>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Puedes <strong>alquilar caballos</strong> para recorrer la localidad.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Solicita a los expertos en el <strong>recorrido del anillo turístico del Magdalena</strong>.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Podemos ofrecerte transporte privado desde la terminal aérea o terrestre de Pitalito.
          </li>
          <li>
            <lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" trigger="loop" stroke="100"
              colors="primary:#4b5842,secondary:#08a88a" style="width:16;height:16px">
            </lord-icon>Desde <strong>Casa Bonita</strong> tienes muy cerca lugares muy bonitos y de fácil acceso.
          </li>
        </ul>
      </div>
    </article>
    <article class="beneficios">
      <picture>
        <source type="image/webp" srcset="{{ site.baseurl }}/img/hospedaje-casa-bonita-san-agustin.webp">
        <img src="{{ site.baseurl }}/img/hospedaje-casa-bonita-san-agustin.png"
          alt="Habitación del hotel Casa Bonita de San Agustín" title="Cuarto en Casa Bonita" loading="lazy" width="320"
          height="480">
      </picture>
      <div class="service-text">
        <h3>Queremos ser tu hotel favorito en San Agustín Huila</h3>
        <p>Cuéntanos qué podemos hacer para que tu estancia sea la mejor. <strong>Te garantizamos que haremos lo
            necesario para ser tu hospedaje favorito en San Agustín Huila.</strong></p>
        <a href="{{site.whatsapp}}" class="botones" style="margin: 1rem auto;"
          title="WhatsApp del Hotel Casa Bonita">Solicita tu hospedaje</a>
      </div>
    </article>
  </div>
</main>
<section class="rooms">
  <h2>En San Agustín Huila se descansa muy rico</h2>
  <div>
    <article>
      <picture>
        <source type="image/webp" srcset="{{ site.baseurl }}/img/cuarto-1-hotel-casa-bonita-san-agustin.webp">
        <img src="{{ site.baseurl }}/img/cuarto-1-hotel-casa-bonita-san-agustin.png"
          alt="Habitación primera del hotel Casa Bonita de San Agustín" title="Cuarto VIP en Casa Bonita" loading="lazy"
          width="300" height="300">
      </picture>
      <h3>Cuarto VIP</h3>
      <p>Habitación de lujo con bañera</p>
      <a href="{{site.whatsapp}}">Quiero este cuarto</a>
    </article>
    <article>
      <picture>
        <source type="image/webp" srcset="{{ site.baseurl }}/img/cuarto-2-hotel-casa-bonita-san-agustin.webp">
        <img src="{{ site.baseurl }}/img/cuarto-2-hotel-casa-bonita-san-agustin.png"
          alt="Habitación segunda del hotel Casa Bonita de San Agustín" title="Cuarto ejecutivo en Casa Bonita"
          loading="lazy" width="300" height="300">
      </picture>
      <h3>Ejecutivo</h3>
      <p>Habitación con baño privado</p>
      <a href="{{site.whatsapp}}">Quiero este cuarto</a>
    </article>
    <article>
      <picture>
        <source type="image/webp" srcset="{{ site.baseurl }}/img/cuarto-3-hotel-casa-bonita-san-agustin.webp">
        <img src="{{ site.baseurl }}/img/cuarto-3-hotel-casa-bonita-san-agustin.png"
          alt="Habitación segunda del hotel Casa Bonita de San Agustín" title="Cuarto ejecutivo en Casa Bonita"
          loading="lazy" width="300" height="300">
      </picture>
      <h3>Cuarto familiar</h3>
      <p>Dos camas con baño privado</p>
      <a href="{{site.whatsapp}}">Quiero este cuarto</a>
    </article>
  </div>
</section>
<section class="servicios">
  <h2>Aquí te dejamos cómo contactarnos en San Agustín</h2>
  <p>A continuación te dejamos todos nuestros datos de contacto: <strong>el mapa para llegar a Casa Bonita con tu GPS,
      el número de teléfono, el número de WhatsApp, y los perfiles de redes sociales.</strong></p>
  <p>Haz clic en el botón de tu preferencia.</p>
  <h3>
    <lord-icon src="https://cdn.lordicon.com/zzcjjxew.json" trigger="loop" colors="primary:#4b5842,secondary:#b7ce63"
      style="width:64px;height:64px">
    </lord-icon>¿Cómo llegar al hotel Casa Bonita?
  </h3>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15950.646512512221!2d-76.282667!3d1.8839732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e257b847463fdff%3A0x903736c45b7cb7b3!2sHospedaje%20Casa%20Bonita!5e0!3m2!1ses-419!2sco!4v1639002053680!5m2!1ses-419!2sco"
    width="100%" height="450" style="border:0; box-shadow: var(--shadow);" allowfullscreen="" loading="lazy"></iframe>
  <h3>
    <lord-icon
    src="https://cdn.lordicon.com/zpxybbhl.json"
    trigger="loop"
    colors="primary:#4b5842,secondary:#b7ce63"
    style="width:64px;height:64px">
</lord-icon>¿Te gustaría llamarnos o escribirnos por WhatsApp?
  </h3>
  <p>Puedes hacerlo a nuestro <strong>número de teléfono 3218301698</strong>. También puedes hacer clic en estos botones</p>
  <a href="tel:573218301698" class="botones">Llamar</a>
  <a href="https://wa.me/573218301698" class="botones">Escribir por WhatsApp</a>
</section>
<section class="servicios" id="alianzas">
  <h2>Casa Bonita San Agustín y sus aliados</h2>
  <p>Estamos preparados para que cuando nos visites tengas una experiencia relajante y agradable. Por esto,
    <strong>tenemos para ti alianzas con negocios de San Agustín</strong> que mejorarán tus experiencias y tu estadía
    con nosotros.</p>
  <p>Conoce algunas de ellas y los beneficios que tienen para ti.</p>
  <article class="beneficios">
    <picture>
      <source type="image/webp" srcset="{{ site.baseurl }}/img/heladeria-gurcoff-san-agustin-huila.webp">
      <img src="{{ site.baseurl }}/img/heladeria-gurcoff-san-agustin-huila.png"
        alt="Logo de la heladería GurCoff de San Agustín" title="Logo de GurCoff" loading="lazy" width="300"
        height="300">
    </picture>
    <div class="service-text">
      <h3>Heladería GurCoff</h3>
      <p>Por ser nuestro cliente, la heladería GurCoff de San Agustín te obsequia un toppin adicional o salsa natural.
      </p>
      <a href="https://gurcoff.com/contacto" class="botones" style="margin: 1rem auto;"
        title="Página web gurcoff.com">Solicita tu obsequio</a>
    </div>
  </article>
  <article class="beneficios" style="margin-top: 2rem;">
    <picture>
      <source type="image/webp" srcset="{{ site.baseurl }}/img/restaurante-bien-trancao-san-agustin-huila.webp">
      <img src="{{ site.baseurl }}/img/restaurante-bien-trancao-san-agustin-huila.png"
        alt="Logo del restaurante Bien Tranca'o de San Agustín" title="Logo de Bien Tranca'o" loading="lazy" width="300"
        height="300">
    </picture>
    <div class="service-text">
      <h3>Restaurante Bien Tranca'o</h3>
      <p>A nuestros clientes, el restaurante Bien Tranca'o te obsequia más porción de papas fritas o bebidas, según tu plato.
      </p>
      <a href="https://g.page/r/CWaoAxt7q3wEEAE" class="botones" style="margin: 1rem auto;"
        title="Perfil de Bien Tranca'o">Solicita tu obsequio</a>
    </div>
  </article>
  <article class="beneficios" style="margin-top: 2rem;">
    <picture>
      <source type="image/webp" srcset="{{ site.baseurl }}/img/adrenalina-extrema-san-agustin.webp">
      <img src="{{ site.baseurl }}/img/adrenalina-extrema-san-agustin.jpg"
        alt="Logo del Adrenalina Extrema de San Agustín" title="Logo de Adrenalina Extrema" loading="lazy" width="300"
        height="300">
    </picture>
    <div class="service-text">
      <h3>Adrenalina Extrema</h3>
      <p>Nuestra familia de Casa Bonita tiene el 10% de descuento en todas las activas de aventura extrema.
      </p>
      <a href="{{site.whatsapp}}" class="botones" style="margin: 1rem auto;"
        title="WhatsApp de Casa Bonita">Solicita tu obsequio</a>
    </div>
  </article>
</section>
<section class="opiniones">
  <h2>Sé parte de nuestra Casa Bonita</h2>
  <p>Agradecemos de todo corazón sus opiniones y recomendaciones. Si te gustaría leerlas puedes visitar nuestro perfil de Google</p>
  <a href="https://g.page/r/CbO3fFvENjeQEAE" class="botones">Perfil en Google</a>
  <a href="https://g.page/r/CbO3fFvENjeQEAg/review" class="botones">Dejar tu opinión</a>
</section>
{% include footer.html %}