<div class="icon">
  <div class="iconBox active" data-id="contenido1">
    <img src="{{site.baseurl}}/img/relax.webp" alt="">
    <h3>Comodidades</h3>
  </div>
  <div class="iconBox" data-id="contenido2">
    <img src="{{site.baseurl}}/img/servicios.webp" alt="">
    <h3>Alimentación</h3>
  </div>
  <div class="iconBox" data-id="contenido3">
    <img src="{{site.baseurl}}/img/turismo.webp" alt="">
    <h3>Turismo</h3>
  </div>
  <div class="iconBox" data-id="contenido4">
    <img src="{{site.baseurl}}/img/gracias.webp" alt="">
    <h3>Fidelidad</h3>
  </div>
</div>
<div class="contenido">
  <div class="contentBox" id="contenido1">
    <div>
      <div class="textBox">
        <h2>Las comodidades de Casa Bonita</h2>
        <p>Al llegar, tendrás todo lo que necesitas para tener un viaje tranquilo y muy agradable, y hasta productivo, si es tu necesidad. Te ofrecemos:</p>
        <ul>
          <li>✔️ Servicio de Internet WiFi GRATIS de 10 megas por fibra óptica. Puedes compartir lo mejor de tu viaje, o trabajar a distancia con tranquilidad.</li>
          <li>✔️ Parqueadero GRATIS bajo techo y con la seguridad del lugar.</li>
          <li>✔️ Habitaciones muy cómodas con baños privados, duchas de agua caliente. Hasta tenemos una con bañera. Y tienes toda la lencería y mueblería necesaria para estar bien.</li>
          <li>✔️ Espacios sociales para compartir con otros viajeros o con nosotros mismos.</li>
          <li>✔️ Restaurantes y cafetería muy cerca y con excelentes recomendaciones de otros viajeros.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="contentBox" id="contenido2">
    <div>
      <div class="textBox">
        <h2>Subtitulo2</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae iusto vero, aut nam rem incidunt laboriosam ab veritatis, enim perferendis maiores vel eius suscipit omnis reprehenderit, atque quia hic labore?</p>
      </div>
    </div>
  </div>
  <div class="contentBox" id="contenido3">
    <div>
      <div class="textBox">
        <h2>Subtitulo3</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae iusto vero, aut nam rem incidunt laboriosam ab veritatis, enim perferendis maiores vel eius suscipit omnis reprehenderit, atque quia hic labore?</p>
      </div>
    </div>
  </div>
  <div class="contentBox" id="contenido4">
    <div>
      <div class="textBox">
        <h2>Subtitulo4</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae iusto vero, aut nam rem incidunt laboriosam ab veritatis, enim perferendis maiores vel eius suscipit omnis reprehenderit, atque quia hic labore?</p>
      </div>
    </div>
  </div>
</div>