<div class="icon">
  <div class="iconBox active" data-id="contenido1">
    <img src="{{site.baseurl}}/img/relax.webp" alt="">
    <h3>Comodidades</h3>
  </div>
  <div class="iconBox" data-id="contenido2">
    <img src="{{site.baseurl}}/img/servicios.webp" alt="">
    <h3>Alimentación</h3>
  </div>
  <div class="iconBox" data-id="contenido3">
    <img src="{{site.baseurl}}/img/turismo.webp" alt="">
    <h3>Turismo</h3>
  </div>
  <div class="iconBox" data-id="contenido4">
    <img src="{{site.baseurl}}/img/gracias.webp" alt="">
    <h3>Fidelidad</h3>
  </div>
</div>
<div class="contenido">
  <div class="contentBox" id="contenido1">
    <div>
      <div class="textBox">
        <h2>Las comodidades de Casa Bonita</h2>
        <p>Al llegar, tendrás todo lo que necesitas para tener un viaje tranquilo y muy agradable, y hasta productivo,
          si es tu necesidad. Te ofrecemos:</p>
        <ul>
          <li>✔️ Servicio de Internet WiFi GRATIS de 10 megas por fibra óptica. Puedes compartir lo mejor de tu viaje, o
            trabajar a distancia con tranquilidad.</li>
          <li>✔️ Parqueadero GRATIS bajo techo y con la seguridad del lugar.</li>
          <li>✔️ Habitaciones muy cómodas con baños privados, duchas de agua caliente. Hasta tenemos una con bañera. Y
            tienes toda la lencería y mueblería necesaria para estar bien.</li>
          <li>✔️ Espacios sociales para compartir con otros viajeros o con nosotros mismos.</li>
          <li>✔️ Restaurantes y cafetería muy cerca y con excelentes recomendaciones de otros viajeros.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="contentBox" id="contenido2">
    <div>
      <div class="textBox">
        <h2>Dormir... y comer rico!</h2>
        <p>Todos queremos tener lo necesario para disfrutar de un buen hospedaje. Pero también nos encanta comer muy
          rico:</p>
        <ul>
          <li>✔️ Al contratar tu hospedaje con nosotros, ya tienes la tranquilidad de tener tus desayunos listos. Con
            mucha variedad y la mejor sazón de la zona.</li>
          <li>✔️ ¿También te gustaría contratar los almuerzos y las cenas? Cuando nos escribas, nos avisas con
            antelación y llegaremos a algún acuerdo.</li>
          <li>✔️ Muy cerca a nuestras instalaciones hay una gran variedad de menús. Además, nuestra privilegiada
            ubicación cercana a la zona urbana, te permite conocer la gastronomía local aún caminando.</li>
          <li>✔️ Tenemos una alianza especial con la mejor heladería de helado suave de receta de San Agustín Huila, <a
              href="https://gurcoff.com">Heladería GurCoff</a>. Por ser nuestros clientes, ustedes contarán con
            descuentos y regalos en este delicioso lugar.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="contentBox" id="contenido3">
    <div>
      <div class="textBox">
        <h2>¡Tu vienes a conocer y pasarla muy bien!</h2>
        <p>Somos un hospedaje muy bien recomendado. Pero tú vienes es a pasear y a conocer. Por eso, tenemos las mejores
          alianzas para que no te preocupes ni por abusos en los precios ni por quedarte sin conocer los mejores
          lugares:</p>
        <ul>
          <li>✔️ Nuestros vecinos tienen los servicios de alquiler de caballos para conocer las mejores vistas del cañón
            del Magdalena y al precio justo y correcto.</li>
          <li>✔️ Conocemos a los expertos en los recorridos del anillo turístico del Magdalena y el Valle de Laboyos. Te
            podemos contactar con los mejores.</li>
          <li>✔️ Si necesitas transportarte desde el aeropuerto de Pitalito hasta San Agustín Huila, nosotros te
            conseguimos el vehículo para que lo puedas contratar.</li>
          <li>✔️ Desde nuestra ubicación tienes muy cerca lugares muy bonitos y de hermosos paisajes. Puedes
            preguntarnos para guiarte y que puedas darte un paseo más privado.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="contentBox" id="contenido4">
    <div>
      <div class="textBox">
        <h2>Queremos ser tu hospedaje favorito al venir a San Agustín</h2>
        <p>Cuéntanos en qué podemos servirte para que te sientas muy bien con nosotros. Si tienes sugerencias, siempre todas son bienvenidas</p>
        <p>Escríbenos a nuestros <a href="{{site.whatsapp}}">WhatsApp</a> y déjanos tus solicitudes</p>
      </div>
    </div>
  </div>
</div>