@media screen and (min-width:600px) {}

@media screen and (min-width:767px) {
  header{
    height: 720px;
  }
  header div{
    padding-left: 7rem;
    align-items: flex-start;
    text-align: left;
  }

  header div h2{
    text-align: left;
  }
}

@media only screen and (min-width:992px) {
  section, main{
    width: 960px;
  }

  header{
    background-size: 50vw;
    background-position: top right;
  }
  header div{
    justify-content: center;
  }

  header h2{
    width: 50vw;
  }

}

@media screen and (min-width:1200px) {}