.tabs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.tabs .icon .iconBox,
.tabs .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tabs .icon {
  position: relative;
  width: 100%;
  text-align: center;
}

.tabs .icon .iconBox {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 15px;
  height: 250px;
  border-radius: var(--radius);
  transition: 0.5s;
  box-shadow: var(--shadow);
}

.tabs .icon .iconBox img {
  max-width: 70%;
  max-height: 70%;
  filter: grayscale(0);
  transition: 0.5s;
  transform: scale(0.8);
}

.contenido {
  position: relative;
  width: 100%;
}

.contenido .contentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.icon .iconBox h3 {
  font-size: 1rem;
}

div .textBox ul li {
  margin: 1rem 0 1rem 1rem;
  list-style: none;
}